<app-navbar></app-navbar>
<div class="main">
    <img src="../../../assets/Registration.jpg" alt="" class="land-img">
    <div class="content">
        <form class="login-form">
            <div class="form-title">
                <h1>Welcome User!!</h1>
            </div>
             <div class="form-title">
                <label for="">First Name</label><br>
                <input type="text" class="email-input">
            </div>
             <div class="form-title">
                <label for="">Last Name</label><br>
                <input type="text" class="email-input">
            </div>
            <div class="form-title">
                <label for="">Email</label><br>
                <input type="email" class="email-input">
            </div>
            <div class="form-title">
                <label for="">Password</label><br>
                <input type="password" class="password-input">
            </div>
            <div class="form-title">
                <button class="login-btn">Login</button>
            </div>
            <div class="form-title">
                <a href="" class="no-account-href">Dont have an account?</a>
            </div>
        </form>
    </div>
</div>


