<app-navbar></app-navbar>
<div class="main">
    <img src="../../../assets/Login.jpg" alt="" class="land-img">
    <div class="content">
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
            <div class="form-title">
                <h1>Welcome Back!!</h1>
            </div>
            <div class="error-msg" *ngIf="visible">{{errorMsg}}</div>
            <div class="success-msg" *ngIf="visible2">{{successMsg}}</div>
            <div class="form-title">
                <label for="">Email</label><br>
                <input type="email" class="email-input" formControlName="email">
            </div>
            <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" style="color: red;">
                Email is required
            </div>
            <div class="form-title">
                <label for="">Password</label><br>
                <input type="password" class="password-input" formControlName="password">
            </div>
            <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" style="color: red;">
                Password is required
            </div>
            <div class="form-title">
                <button class="login-btn">Login</button>
            </div>
            <div class="form-title">
                <a class="no-account-href" (click)="navigateToRegister()" data-cy="create-account-href">Dont have an account?</a>
            </div>
        </form>
    </div>
</div>

